<script>
	import NavMenu from '../lib/components/NavMenu.svelte';

	const menu1 = [
		{ to: '', name: 'home' },
		{ to: '', name: 'local' },
		{ to: '', name: 'federated' }
	];
	const menu2 = [
		{ to: '', name: 'notifications' },
		{ to: '', name: 'lists' },
		{ to: '', name: 'direct' }
	];
	const menu3 = [
		{ to: '', name: 'about' },
		{ to: '', name: 'settings' }
	];
</script>

<div class="aurora aurora-1" />
<div class="aurora aurora-2" />
<div class="aurora aurora-3" />
<div id="page">
	<header id="site-header">
		<h1>
			<img id="site-title-icon" src="https://tl.xn--7fw.xyz/favicon.png" />
			<span id="site-title">たいとるダヨー こわくないよー</span>
		</h1>
	</header>
	<nav id="menus">
		<NavMenu links={menu1} />
		<hr />
		<NavMenu links={menu2} />
		<hr />
		<NavMenu links={menu3} />
	</nav>

	<main>
		<slot />
	</main>
</div>

<svelte:head>
	<style lang="scss">
		.writing-mode {
			&-htb {
				writing-mode: horizontal-tb;
			}
			&-vlr {
				writing-mode: vertical-lr;
			}
			&-vrl {
				writing-mode: vertical-rl;
			}
		}
	</style>
</svelte:head>

<style lang="scss">
	@import '$lib/styles/import';
	@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,700;1,300;1,700&family=Zen+Maru+Gothic:wght@400;700&display=swap');

	:global(:root) {
		--u: 8px;
		--fu: 14px;
		--sfu: 12px;
		--lu: calc(var(--u) * 3);
		--slu: calc(var(--lu) * 0.8);
		--bg-back: #0f172a;
		--bg-front: #334155;
		--text: #cbd5e1;
		--text-dim: #94a3b8;
		--link: #fdba74;
		--bg-effect-1: #0c0a09;
		--bg-effect-2: #0a0a0a;
		--bg-effect-3: #030712;
		--font: 'Merriweather Sans', 'Zen Maru Gothic', sans-serif;
	}

	:global(*) {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		color: inherit;
		font: inherit;
		text-decoration: none;
	}

	:global(html) {
		background-color: var(--bg-back);
		color: var(--text);
		line-height: var(--lu);
		font-size: var(--fu);
		font-family: var(--font);
	}

	:global(body) {
		inline-size: 100%;
		block-size: 100%;
	}

	// ---
	// Background effect, based on:
	// https://daltonwalsh.com/blog/aurora-css-background-effect/
	// ---
	@function shadow($color) {
		@return 0 0 45vmax 45vmax #{$color};
	}

	@keyframes hueRotate {
		to {
			filter: hue-rotate(360deg);
		}
	}

	@keyframes colour-1 {
		0% {
			top: 0vh;
			left: 50vw;
		}
		25% {
			left: 0vw;
		}
		50% {
			top: 100vh;
		}
		75% {
			left: 100vw;
		}
		100% {
			top: 0vh;
			left: 50vw;
		}
	}

	@keyframes colour-2 {
		0% {
			top: 50vh;
			left: 100vw;
		}
		25% {
			top: 100vh;
		}
		50% {
			left: 0vw;
		}
		75% {
			top: 0vh;
		}
		100% {
			top: 50vh;
			left: 100vw;
		}
	}

	@keyframes colour-3 {
		0% {
			top: 100vh;
			left: 50vw;
		}
		25% {
			left: 100vw;
		}
		50% {
			top: 0vh;
		}
		75% {
			left: 0vw;
		}
		100% {
			top: 100vh;
			left: 50vw;
		}
	}

	:global(.aurora) {
		position: absolute;
		opacity: 0.75;
	}

	:global(.aurora-1) {
		box-shadow: shadow(var(--bg-effect-1));
		animation: hueRotate 10s 0s linear infinite, colour-1 19s 0s linear infinite;
	}

	:global(.aurora-2) {
		box-shadow: shadow(var(--bg-effect-2));
		animation: hueRotate 15s 0s linear infinite, colour-2 25s 0s linear infinite;
	}

	:global(.aurora-3) {
		box-shadow: shadow(var(--bg-effect-3));
		animation: hueRotate 20s 0s linear infinite, colour-3 15s 0s linear infinite;
	}
	// --- end background effect --- //

	#page {
		@include grid;
		grid-template:
			'h h' ux(8)
			'n m' 1fr / ux(9) ux(80);
		align-items: stretch;
		margin-inline: ux(16);
		backdrop-filter: blur(0px); // dummy background to keep hover state
	}

	:global(#site-header) {
		@include grid;
		grid-area: h;

		> h1 {
			@include grid(1, 5, 40);
			margin-inline-start: ux(2.5);
			align-items: center;
			font-weight: bold;
			line-height: inherit;

			&:hover #site-title {
				opacity: 1;
			}
		}
	}

	#site-title-icon {
		block-size: ux(4);
		object-fit: contain;
	}

	#site-title {
		@include transition-opacity;
	}

	#menus {
		@include grid;
		grid-area: n;
		align-content: start;
		white-space: nowrap;
		overflow: hidden;
		@include transition-opacity;
		&:hover,
		&:focus,
		&:focus-within {
			opacity: 1;
		}
	}

	hr {
		border: 0;
		border-block-start: 1px solid var(--bg-front);
		margin-block: var(--u);
	}

	main {
		@include grid(0);
		grid-area: m;
	}
</style>
