<script lang="ts">
	import { ToggleCore } from 'svelte-toggle';
	import IconToggleWarning from '../icons/IconToggleWarning.svelte';

	let warned = false;
	let toggleWarned = () => (warned = !warned);
</script>

<ToggleCore toggled={warned} let:button>
	<div
		{...button}
		class="toggle-warning"
		class:toggled={warned}
		class:untoggled={!warned}
		on:click={toggleWarned}
		on:keypress={toggleWarned}
	>
		<IconToggleWarning on={warned} />
	</div>
</ToggleCore>

<style lang="scss">
	@import '$lib/styles/import';

	.toggle-warning {
		@include icon-container(var(--lu));
		border-radius: 4px;
		&:hover {
			background-color: var(--bg-front);
		}
	}
	.toggled {
		color: var(--link);
	}
	.untoggled {
		color: var(--text-dim);
	}
</style>
