<script lang="ts">
	import Svelecte from 'svelecte/src/Svelecte.svelte'; // See: https://github.com/mskocik/svelecte/issues/80

	let postLanguage = [
		{ value: 'en', label: 'English' },
		{ value: 'ja', short: '日', label: '日本語' },
		{ value: 'ko', short: '한', label: '한국어' },
		{ value: 'zh', short: '中', label: '中文' },
		{ value: 'zh-Hans', short: '简', label: '简体中文' },
		{ value: 'zh-Hant', short: '繁', label: '繁體中文' }
	];
	let languageInitialValue = postLanguage[0];

	function languageRenderer(
		item: { value: string; short: string; label: string },
		isSelected: boolean
	) {
		if (isSelected) {
			return item.short
				? `<span class="select-language-id-display" lang="${item.value}">${item.short}</span>`
				: `<span class="select-language-code">${item.value}</span>`;
		}
		return `<b class="select-language-id">${item.value}</b><span lang="${item.value}">${item.label}</span>`;
	}
</script>

<Svelecte
	bind:value={languageInitialValue}
	valueAsObject
	class="svelecte-control language-control"
	options={postLanguage}
	renderer={languageRenderer}
	searchField={['value', 'label']}
	creatable
	creatablePrefix=""
	allowEditing
/>

<style lang="scss">
	// styles should be kept consistent with svelte-select elements.
	// cf. /src/lib/styles/compose-select.scss
	:global(.svelecte.svelecte-control.language-control) {
		--sv-min-height: var(--lu);
		--sv-bg: transparent;
		--sv-border: none;
		--sv-active-border: none;
		--sv-item-color: var(--text);
		--sv-item-active-bg: var(--bg-front);
		flex: 0 0 auto;
		&:hover {
			border-radius: 4px;
			background-color: var(--bg-front);
		}

		:global(.sv-content) {
			padding-inline: var(--u);
		}

		:global(.indicator-container) {
			padding: 0;

			:global(.indicator-icon) {
				inline-size: 20px;
				block-size: 20px;
				object-fit: contain;
			}
		}

		:global(.sv-dropdown) {
			inline-size: max-content;
			border: 1px solid var(--bg-front);
			border-radius: 8px;
			background-color: rgba($color: black, $alpha: 0.25);
			backdrop-filter: blur(5px);
			inset-block-start: calc(var(--lu) + 5px);

			:global(.sv-dropdown-scroll),
			:global(.sv-item) {
				padding: 0 !important;
			}

			:global(.sv-item-content) {
				padding: var(--u);
			}
		}

		:global(.sv-item-content) {
			display: flex;
			column-gap: var(--u);
			justify-content: space-between;
		}
	}

	:global(.select-language-id) {
		font-family: monospace;
		font-weight: bold;
	}

	:global(.select-language-id-display) {
		display: inline-block;
		block-size: var(--lu);
		font-size: calc(var(--lu) * 0.8);
	}

	:global(.select-language-code) {
		font-weight: bold;
		text-transform: uppercase;
	}
</style>
