<script lang="ts">
	import IconVisPublic from '../icons/IconVisPublic.svelte';
	import IconVisLocal from '../icons/IconVisLocal.svelte';
	import IconVisUnlisted from '../icons/IconVisUnlisted.svelte';
	import IconVisPrivate from '../icons/IconVisPrivate.svelte';
	import IconVisDirect from '../icons/IconVisDirect.svelte';
	import Select from 'svelte-select';

	let postVisibility = [
		{ value: 'public', icon: IconVisPublic, label: 'Public' },
		{ value: 'local', icon: IconVisLocal, label: 'Local' },
		{ value: 'unlisted', icon: IconVisUnlisted, label: 'Unlisted' },
		{ value: 'private', icon: IconVisPrivate, label: 'Private' },
		{ value: 'direct', icon: IconVisDirect, label: 'Direct' }
	];
</script>

<Select
	items={postVisibility}
	value={postVisibility[0]}
	showChevron
	clearable={false}
	listAutoWidth={false}
>
	<div slot="item" let:item>
		<svelte:component this={item.icon} />
		{item.label}
	</div>
	<div slot="selection" let:selection>
		<svelte:component this={selection.icon} />
	</div>
</Select>

<style global lang="scss">
	@use '$lib/styles/compose-select';
</style>
