<script lang="ts">
	import IconFormatPlain from '../icons/IconFormatPlain.svelte';
	import IconFormatHtml from '../icons/IconFormatHTML.svelte';
	import IconFormatMarkdown from '../icons/IconFormatMarkdown.svelte';
	import IconFormatBbCode from '../icons/IconFormatBBCode.svelte';
	import IconFormatMfm from '../icons/IconFormatMFM.svelte';

	import Select from 'svelte-select';

	let postFormat = [
		{ value: 'plain', icon: IconFormatPlain, label: 'Plain Text' },
		{ value: 'html', icon: IconFormatHtml, label: 'HTML' },
		{ value: 'markdown', icon: IconFormatMarkdown, label: 'Markdown' },
		{ value: 'bbcode', icon: IconFormatBbCode, label: 'BBCode' },
		{ value: 'x.misskeymarkdown', icon: IconFormatMfm, label: 'MFM' }
	];
</script>

<Select
	items={postFormat}
	value={postFormat[0]}
	showChevron
	clearable={false}
	listAutoWidth={false}
>
	<div slot="item" let:item>
		<svelte:component this={item.icon} />
		{item.label}
	</div>
	<div slot="selection" let:selection>
		<svelte:component this={selection.icon} />
	</div>
</Select>

<style global lang="scss">
	@use '$lib/styles/compose-select';
</style>
