<script lang="ts">
	import { ToggleCore } from 'svelte-toggle';
	import IconToggleEmoji from '../icons/IconToggleEmoji.svelte';

	let open = false;
	let toggleEmoji = () => (open = !open);
</script>

<ToggleCore toggled={open} let:button>
	<div
		{...button}
		class="toggle-emoji"
		class:toggled={open}
		class:untoggled={!open}
		on:click={toggleEmoji}
		on:keypress={toggleEmoji}
	>
		<IconToggleEmoji on={open} />
	</div>
</ToggleCore>

<style lang="scss">
	@import '$lib/styles/import';

	.toggle-emoji {
		@include icon-container(var(--lu));
		border-radius: 4px;
		&:hover {
			background-color: var(--bg-front);
		}
	}
	.toggled {
		color: var(--link);
	}
	.untoggled {
		color: var(--text-dim);
	}
</style>
