<!-- https://api.iconify.design/solar:menu-dots-bold-duotone.svg -->
<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="currentColor"><path d="M7 12a2 2 0 1 1-4 0a2 2 0 0 1 4 0Zm14 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0Z"/><path d="M14 12a2 2 0 1 1-4 0a2 2 0 0 1 4 0Z" opacity=".5"/></g></svg>