:global(.svelte-select) {
	--temp-variable-unit: var(--u, 8px);
	--font-size: var(--fu);
	--width: auto;
	--height: var(--lu, 24px);
	--max-height: var(--height);
	--padding: 0;
	--value-container-padding: 0;
	--border: none;
	--border-focused: none;
	--border-hover: none;
	--border-radius: 0;
	--border-radius-focused: 4px;
	--background: transparent;
	--list-border: 1px solid var(--bg-front);
	--list-border-radius: 8px;
	--list-background: rgba(0, 0, 0, 0.25);
	--item-height: calc(var(--height) + var(--item-padding) * 2);
	--item-padding: var(--temp-variable-unit);
	--item-is-active-bg: var(--text-dim);
	--item-is-active-color: var(--bg-back);
	--item-hover-bg: var(--bg-front);
	--chevron-width: var(--height);
	--chevron-height: var(--height);
	--selected-item-padding: 0;

	column-gap: var(--temp-variable-unit);
	inline-size: var(--width);
	block-size: var(--height);
	max-block-size: var(--height);
	&:hover {
		border-radius: var(--border-radius-focused) !important;
		background-color: var(--bg-front) !important;
	}
}

:global(.svelte-select-list) {
	display: flex;
	flex-direction: column;
	backdrop-filter: blur(5px);

	:global(.list-item [slot='item']) {
		display: flex;
		column-gap: var(--temp-variable-unit);
		align-items: center;
	}
}

:global(.selected-item [slot='selection'] *),
:global(.svelte-select-list :is(img, svg)),
:global(.indicators .icon) {
	inline-size: var(--height);
	block-size: var(--height);
	object-fit: contain;
}
