@function ux($multiplier) {
	@return calc(var(--u) * $multiplier);
}

@mixin grid($unit: 1, $columns...) {
	display: grid;
	gap: calc(var(--u) * $unit);
	@if length($columns) > 0 {
		$joined: ();
		@each $c in $columns {
			$joined: append($joined, ux($c), $separator: space);
		}
		grid-template-columns: $joined;
	}
}

@mixin transition-opacity($opacity: 0) {
	opacity: $opacity;
	transition: opacity 0.4s;
}

@mixin icon-container($size) {
	block-size: $size;

	:global(img),
	:global(svg) {
		block-size: $size;
		inline-size: $size;
		object-fit: contain;
	}
}
