<script lang="ts">
	import { t } from '$lib/i18n';
	import {
		Composer,
		ContentEditable,
		PlainTextPlugin,
		HistoryPlugin,
		PlaceHolder,
		TreeViewPlugin
	} from 'svelte-lexical';
	import SelectVisibility from './compose/SelectVisibility.svelte';
	import SelectFormat from './compose/SelectFormat.svelte';
	import SelectWarning from './compose/SelectWarning.svelte';
	import SelectLanguage from './compose/SelectLanguage.svelte';
	import ToggleEmoji from './compose/ToggleEmoji.svelte';

	const initialConfig = {
		nodes: [],
		onError: (error: Error) => {
			throw error;
		}
	};
</script>

<Composer {initialConfig}>
	<div class="composer-form">
		<div class="composer-user-icon">
			<img
				src="https://tl.xn--7fw.xyz/media/5a0443a7c59ea7fb22d3c7fd55bf8c6d88b6e0089b0db36eb0f08677c9feb67f.png"
				alt=""
			/>
		</div>
		<div class="composer-metadata">
			<div class="composer-toolbar">
				<div class="composer-toolbar-section"><SelectVisibility /></div>
				<div class="composer-toolbar-section"><SelectWarning /></div>
				<div class="composer-toolbar-section"><SelectLanguage /></div>
				<div class="composer-toolbar-section"><SelectFormat /></div>
			</div>
			<div class="composer-popup">
				<div class="composer-preview" role="button" tabindex="-1">
					{$t('composer.toolbar.preview')}
				</div>
				<div class="composer-stamp" role="button" tabindex="-1"><ToggleEmoji /></div>
			</div>
		</div>
		<div class="editor-container">
			<div class="editor-scroller">
				<div class="editor">
					<ContentEditable className="compose-area" />
					<PlaceHolder>{$t('composer.editor.placeholder')}</PlaceHolder>
				</div>
			</div>
			<PlainTextPlugin />
			<HistoryPlugin />
		</div>
		<div class="composer-attachment">
			<!-- <TreeViewPlugin /> -->
		</div>
	</div>
</Composer>

<style lang="scss">
	@import '$lib/styles/import';

	.composer-form {
		@include grid;
		grid-template:
			'ci cm cs'
			'ci ce cs'
			'.  ca cs' / ux(6) 1fr ux(20);
		inline-size: ux(100);
		margin-inline-end: ux(-20);
		margin-block-end: ux(4);
		align-items: self-start;
	}

	.composer-user-icon {
		grid-area: ci;
		block-size: ux(6);
		img {
			block-size: ux(6);
			object-fit: contain;
			border-radius: ux(3);
		}
	}

	.composer-metadata {
		display: flex;
		justify-content: space-between;
		grid-area: cm;
	}

	.composer-toolbar {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.composer-toolbar-section {
		padding-inline: var(--u);
		border-inline-end: 1px solid var(--bg-front);
		&:first-child {
			padding-inline-start: 0;
		}
		&:last-child {
			padding-inline-end: 0;
			border-inline-end: none;
		}
	}

	.composer-popup {
		display: flex;
		column-gap: var(--u);
		justify-content: flex-end;
		align-items: center;

		:global(> *) {
			border-radius: 4px;
			&:hover {
				background-color: var(--bg-front);
			}
		}
	}
	.composer-preview {
		padding-inline: var(--u);
	}

	.editor-container {
		grid-area: ce;
		background-color: var(--bg-front);
		border-radius: 8px;
	}
	.editor {
		position: relative;
	}
	:global(.compose-area) {
		box-sizing: content-box;
		min-block-size: calc(var(--lu) * 3);
		padding: var(--u);
	}

	.composer-attachment {
		grid-area: ca;
	}
</style>
