<script lang="ts">
	export let to: string;
	export let name: string;
</script>

<li>
	<a href={to} data-content={name}>
		<span class="nav-text">{name}</span>
	</a>
</li>

<svelte:head>
	<style lang="scss">
		@import '$lib/styles/import';
		.nav-text {
			// grid width * (67% or 100%) - list padding inline
			$w: (ux(9 * 0.67 - 2), ux(9 - 2));
			body[class^='writing-mode-v'] & {
				-webkit-mask-image: linear-gradient(black nth($w, 1), rgba(0, 0, 0, 0) nth($w, 2));
				mask-image: linear-gradient(black nth($w, 1), rgba(0, 0, 0, 0) nth($w, 2));
			}
			body:not([class^='writing-mode-v']) & {
				-webkit-mask-image: linear-gradient(
					to right,
					black nth($w, 1),
					rgba(0, 0, 0, 0) nth($w, 2)
				);
				mask-image: linear-gradient(to right, black nth($w, 1), rgba(0, 0, 0, 0) nth($w, 2));
				&:dir(rtl) {
					-webkit-mask-image: linear-gradient(
						to left,
						black nth($w, 1),
						rgba(0, 0, 0, 0) nth($w, 2)
					);
					mask-image: linear-gradient(to left, black nth($w, 1), rgba(0, 0, 0, 0) nth($w, 2));
				}
			}
		}
	</style>
</svelte:head>

<style lang="scss">
	@import '$lib/styles/import';

	li {
		position: relative;
		padding-inline: ux(2);
	}

	a:hover::before {
		content: attr(data-content);
		position: fixed;
		z-index: 99;
		backdrop-filter: blur(5px);
		margin-inline: ux(-2);
		margin-block: ux(-1);
		padding-inline: ux(2);
		padding-block: var(--u);
		border-radius: 8px;
		outline: 2px solid var(--bg-back);
	}
</style>
