<script lang="ts">
	import { t } from '$lib/i18n';
	import NavLink from './NavLink.svelte';
	export let links: { to: string; name: string }[];
</script>

<menu>
	{#each links as l}
		<NavLink to={l.to} name={$t(`main.nav.${l.name}`)} />
	{/each}
</menu>

<style lang="scss">
	@import '$lib/styles/import';

	menu {
		@include grid;
		list-style-type: none;
		padding-inline-start: 0;
	}
</style>
