<script lang="ts">
	import { t } from '$lib/i18n';
	import IconExtra from './icons/IconExtra.svelte';
	import IconReactionFav from './icons/IconReactionFav.svelte';
	import IconReactionOther from './icons/IconReactionOther.svelte';
	import IconReactionQuote from './icons/IconReactionQuote.svelte';
	import IconReactionRepeat from './icons/IconReactionRepeat.svelte';
	import IconReactionReply from './icons/IconReactionReply.svelte';
	import IconReactionStamp from './icons/IconReactionStamp.svelte';
	import IconVisPublic from './icons/IconVisPublic.svelte';
</script>

<article
	class="post"
	aria-label={$t('post.aria.summary.verbose', {
		name: '𰽔㆑𱟛 :verified:',
		duration: Date.parse('2023-01-20') - Date.now(),
		reply_to: 'ダミーさん',
		n_media: 6,
		n_reply: '99+'
	})}
>
	<div class="post-head">
		<div class="post-author-icon">
			<img
				src="https://tl.xn--7fw.xyz/media/5a0443a7c59ea7fb22d3c7fd55bf8c6d88b6e0089b0db36eb0f08677c9feb67f.png"
				alt=""
			/>
		</div>
		<div class="post-author-info">
			<div class="post-author-name">𰽔㆑𱟛 :verified:</div>
			<div class="post-author-origin">
				<span class="post-small-icon"><img src="https://tl.xn--7fw.xyz/favicon.png" /></span><span
					class="post-author-id">@w12t@tl.xn--7fw.xyz</span
				>
			</div>
		</div>
		<div class="post-meta">
			<div class="post-status">
				<time
					class="post-time"
					datetime="2023-01-20"
					title={$t('main.time_format', { time: Date.parse('2023-01-20') })}
					>{$t('main.time_ago', { duration: Date.parse('2023-01-20') - Date.now() })}</time
				>
				<span class="post-visibility post-small-icon" title="公開">
					<IconVisPublic />
				</span>
			</div>
			<div class="post-extra post-small-icon" title="その他のデータ">
				<IconExtra />
			</div>
		</div>
	</div>
	<div class="post-thread">
		<a href="" class="post-reply-count">99</a>
	</div>
	<div class="post-body">
		<p>
			洋酒といえば、誰でも最初に思い浮かべるのが<a href="https://ja.wikipedia.org">ウイスキー</a
			>。いわば洋酒のシンボル的な存在なのだが、英語表記が［一般に〔米〕では
			<a href="https://en.wikipedia.org">Whiskey</a>,〔英〕では
			Whisky.］であることはあまり知られていない。
		</p>
	</div>
	<div class="post-files">
		<div class="post-files-item">&nbsp;</div>
		<div class="post-files-item">&nbsp;</div>
		<div class="post-files-item">&nbsp;</div>
		<div class="post-files-item">&nbsp;</div>
		<div class="post-files-item">&nbsp;</div>
		<div class="post-files-item">&nbsp;</div>
	</div>
	<div class="post-actions">
		<div class="post-emoji">
			<div role="button" class="post-emoji-reaction">
				<img
					src="https://tl.xn--7fw.xyz/emoji/7fw/usapoyo_dance.gif"
					alt=":usapoyo_dance:"
					title=":usapoyo_dance:"
				/>
				<span class="post-emoji-reaction-count">1</span>
			</div>
			<div role="button" class="post-emoji-reaction">
				<img
					src="https://misskey.art/files/8831cf94-ec8f-4035-9432-4a3e11fb172c"
					alt="blob_hyper_nod"
					title="blob_hyper_nod@misskey.art"
				/>
				<span class="post-emoji-reaction-count">1</span>
			</div>
			<div role="button" class="post-emoji-reaction">
				<img
					src="https://misskey.art/files/9adb1f35-f4c4-41bb-99e3-160d1884b68d"
					alt="naruhodofes"
					title="naruhodofes@misskey.art"
				/>
				<span class="post-emoji-reaction-count">1</span>
			</div>
			<div role="button" class="post-emoji-reaction">
				<img
					src="https://s3.arkjp.net/emoji/is_all_scam.png"
					alt="is_all_scam"
					title="is_all_scam@s3.arkjp.net"
				/>
				<span class="post-emoji-reaction-count">1</span>
			</div>
			<div role="button" class="post-emoji-reaction">
				<span class="unicode-emoji">🌳</span>
				<span class="post-emoji-reaction-count">1</span>
			</div>
		</div>
		<div class="post-reactions">
			<div class="post-stamp">
				<span class="post-icon">
					<IconReactionStamp />
				</span>
			</div>
			<div class="post-reply">
				<span class="post-icon">
					<IconReactionReply />
				</span>
			</div>
			<div class="post-quote">
				<span class="post-icon">
					<IconReactionQuote />
				</span>
			</div>
			<div class="post-repeat">
				<span class="post-icon">
					<IconReactionRepeat />
				</span>
				<span class="post-repeat-count">2</span>
			</div>
			<div class="post-fav">
				<span class="post-icon">
					<IconReactionFav />
				</span>
				<span class="post-fav-count">3</span>
			</div>
			<div class="post-other-reactions">
				<span class="post-icon">
					<IconReactionOther />
				</span>
			</div>
		</div>
	</div>
</article>

<style lang="scss">
	@import '$lib/styles/import';

	@mixin text-ellipsis {
		white-space: nowrap;
		:global(body[class^='writing-mode-v']) & {
			overflow-y: hidden;
		}
		:global(body:not([class^='writing-mode-v'])) & {
			overflow-x: hidden;
		}
		text-overflow: ellipsis;
	}

	@mixin reaction-count {
		text-align: center;
		font-size: var(--sfu);
		white-space: nowrap;
		overflow-x: visible;
		text-combine-upright: all;
	}

	:global(.post) {
		@include grid;
		grid-template:
			'ph ph pf'
			'pt pb pf'
			'.  pa pf';
		align-self: self-start;
		inline-size: ux(100);
		margin-inline-end: ux(-20);
		@include transition-opacity(0.7);
		&:hover {
			opacity: 1;

			.post-author-icon,
			.post-author-id,
			.post-time,
			.post-extra,
			.post-reply-count,
			.post-files-item,
			.post-actions {
				opacity: 1;
			}

			.post-author-origin {
				filter: none;
			}
		}
	}

	.post-head {
		@include grid;
		grid-template-columns: ux(6) 4fr 1fr;
		align-items: self-start;
		grid-area: ph;
	}

	.post-author-icon {
		@include transition-opacity;
		block-size: ux(6);
		img {
			block-size: ux(6);
			object-fit: contain;
			border-radius: 8px;
		}
	}

	.post-author-info {
		@include grid(0);
	}

	.post-author-name {
		font-weight: bold;
		@include text-ellipsis;
	}

	.post-author-origin {
		@include grid;
		grid-template-columns: var(--slu) auto;
		align-items: center;
		filter: grayscale(0.67) opacity(0.5);
		transition: filter 0.4s;
	}

	.post-author-id {
		@include transition-opacity;
		@include text-ellipsis;
		color: var(--text-dim);
		font-style: italic;
	}

	.post-meta {
		@include grid(0);
		grid-template: var(--lu) var(--lu) / auto;
		justify-content: end;
		align-items: center;
		font-size: var(--sfu);
	}

	.post-status {
		display: flex;
		gap: var(--u);
		align-items: center;
	}

	.post-time {
		@include transition-opacity;
		@include text-ellipsis;
	}

	.post-visibility {
		inline-size: ux(3);
		flex: 0 0 auto;
	}

	.post-extra {
		@include transition-opacity;
		inline-size: ux(3);
		justify-self: end;
	}

	.post-thread {
		grid-area: pt;
		inline-size: ux(6);
		text-align: end;
	}

	.post-reply-count {
		@include transition-opacity;
		display: inline-block;
		position: relative;
		inline-size: calc(var(--lu) * 4 / 3);
		block-size: calc(var(--lu) * 4 / 3);
		writing-mode: horizontal-tb;
		text-align: center;
		vertical-align: middle;
		font-size: var(--sfu);
		line-height: calc(var(--lu) * 7 / 6);
		&:any-link {
			color: var(--text);
		}
		&::before {
			content: '';
			position: absolute;
			inset-inline-start: 0;
			inline-size: 100%;
			block-size: 100%;
			background-color: var(--text);
			// based on https://api.iconify.design/solar:chat-square-outline.svg
			$icon-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M10.46 1.25h3.08c1.603 0 2.86 0 3.864.095c1.023.098 1.861.3 2.6.752a5.75 5.75 0 0 1 1.899 1.899c.452.738.654 1.577.752 2.6c.095 1.004.095 2.261.095 3.865v1.067c0 1.141 0 2.036-.05 2.759c-.05.735-.153 1.347-.388 1.913a5.75 5.75 0 0 1-3.112 3.112c-.805.334-1.721.408-2.977.43a10.81 10.81 0 0 0-.929.036c-.198.022-.275.054-.32.08c-.047.028-.112.078-.224.232c-.121.166-.258.396-.476.764l-.542.916c-.773 1.307-2.69 1.307-3.464 0l-.542-.916a10.605 10.605 0 0 0-.476-.764c-.112-.154-.177-.204-.224-.232c-.045-.026-.122-.058-.32-.08c-.212-.023-.49-.03-.93-.037c-1.255-.021-2.171-.095-2.976-.429A5.75 5.75 0 0 1 1.688 16.2c-.235-.566-.339-1.178-.389-1.913c-.049-.723-.049-1.618-.049-2.76v-1.066c0-1.604 0-2.86.095-3.865c.098-1.023.3-1.862.752-2.6a5.75 5.75 0 0 1 1.899-1.899c.738-.452 1.577-.654 2.6-.752C7.6 1.25 8.857 1.25 10.461 1.25ZM6.739 2.839c-.914.087-1.495.253-1.959.537A4.25 4.25 0 0 0 3.376 4.78c-.284.464-.45 1.045-.537 1.96c-.088.924-.089 2.11-.089 3.761v1c0 1.175 0 2.019.046 2.685c.045.659.131 1.089.278 1.441a4.25 4.25 0 0 0 2.3 2.3c.515.214 1.173.294 2.429.316h.031c.398.007.747.013 1.037.045c.311.035.616.104.909.274c.29.17.5.395.682.645c.169.232.342.525.538.856l.559.944a.52.52 0 0 0 .882 0l.559-.944c.196-.331.37-.624.538-.856c.182-.25.392-.476.682-.645c.293-.17.598-.24.909-.274c.29-.032.639-.038 1.037-.045h.032c1.255-.022 1.913-.102 2.428-.316a4.25 4.25 0 0 0 2.3-2.3c.147-.352.233-.782.278-1.441c.046-.666.046-1.51.046-2.685v-1c0-1.651 0-2.837-.089-3.762c-.087-.914-.253-1.495-.537-1.959a4.25 4.25 0 0 0-1.403-1.403c-.464-.284-1.045-.45-1.96-.537c-.924-.088-2.11-.089-3.761-.089h-3c-1.651 0-2.837 0-3.762.089Z" clip-rule="evenodd" opacity=".5"/></svg>');
			-webkit-mask-image: $icon-url;
			mask-image: $icon-url;
		}
	}

	.post-body {
		grid-area: pb;
	}

	.post-files {
		@include grid;
		grid-template-columns: repeat(4, ux(4));
		align-content: start;
		grid-area: pf;
		inline-size: ux(20);
	}

	.post-files-item {
		inline-size: ux(4);
		block-size: ux(4);
		border-radius: 8px;
		background-color: rgba(255, 255, 255, 0.33);
		@include transition-opacity(0.33);
	}

	.post-actions {
		display: flex;
		gap: var(--u);
		justify-content: space-between;
		grid-area: pa;
		@include transition-opacity;
	}

	.post-emoji {
		display: flex;
		column-gap: var(--u);
		flex-wrap: wrap;
		align-items: self-start;
	}

	.post-emoji-reaction {
		@include icon-container(var(--lu));
		display: flex;
		gap: var(--u);
		align-items: center;
		border-radius: 4px;
		padding-inline: ux(0.5);
		&:hover,
		&:focus,
		&:active {
			background-color: var(--bg-front);
		}

		.unicode-emoji {
			font-size: var(--slu);
			line-height: 1;
			margin-inline: -0.187em; // keep emoji 1em wide
		}
	}

	.post-emoji-reaction-count {
		@include reaction-count;
	}

	:global(.post-reactions) {
		@include grid;
		grid-template-columns: repeat(6, var(--lu));
		flex: 0 0 auto;

		> * {
			@include grid(0);
			justify-content: center;

			> :nth-child(2) {
				@include reaction-count;
			}
		}
	}

	.post-icon {
		@include icon-container(var(--lu));
		text-align: center;
	}
	.post-small-icon {
		@include icon-container(var(--slu));
		text-align: center;
	}

	p {
		&:not(:last-child) {
			margin-block-end: var(--u);
		}
	}

	a {
		color: var(--link);
		text-decoration: none;
		&:hover,
		&:active {
			text-decoration: underline;
		}
		&:visited {
			color: var(--text-dim);
		}
	}
</style>
